{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
<div>
  home
</div>
<div>
  lastest
  {% for jewels in jewelry %}
  <div>
    <a href="{{ path('jewelry.single', { id: jewels.id, slug: jewels.slug }) }}">{{ jewels.name }}</a>
    ref {{ jewels.reference }}
    ${{ jewels.formattedPrice }}
    {{ jewels.description }}
  </div>
  {% endfor %}
</div>
{% endblock %}
