{% extends 'base.html.twig' %}
{% block title %}lastest{% endblock %}
{% block body %}
<main>
  <div class="jewelry">
    <h1>lastest</h1>
    {% for jewel in jewelry %}
    <div class="jewel">
      <h2><a href="{{ path('jewelry.single', { id: jewel.id, slug: jewel.slug }) }}">{{ jewel.name }}</a></h2>
      <strong>{{ jewel.formattedPrice }} €</strong>
    </div>
    {% endfor %}
    <h1>All</h1>
    {% for jewel in jewelry2 %}
    <div class="jewel">
      <h2><a href="{{ path('jewelry.single', { id: jewel.id, slug: jewel.slug }) }}">{{ jewel.name }}</a></h2>
      <strong>{{ jewel.formattedPrice }} €</strong>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
