{% extends 'base.html.twig' %}
{% block title %}Earrings (Jewelry){% endblock %}
{% block body %}
<main>
  <h1 class="title">The bracelets</h1>
  <div class="jewelry">
    {% for jewel in bracelets %}
    <div class="jewel">
      <a href="{{ path('client.jewelry.single', { id: jewel.id, slug: jewel.slug, category: jewel.category|lower }) }}" class="jewel-inside">
        <h2 class="jewel-title">{{ jewel.name }} - {{ jewel.category }}</h2>
        <strong class="jewel-price">{{ jewel.formattedPrice }} €</strong>
        <span class="jewel-reference">ref {{ jewel.formattedreference }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
