{% extends 'base.html.twig' %}
{% block title jewelry.name %}
{% block body %}
<main>
  <h1>{{ jewelry.name }}</h1>
  <div class="jewelry">
    <strong>{{ jewelry.formattedPrice }} €</strong>
    <span>ref {{ jewelry.reference }}</span>
    <span>{{ jewelry.category }}</span>
    <p>{{ jewelry.description }}</p>
  </div>
</main>
{% endblock %}
