{% extends 'base.html.twig' %}
{% block title jewelry.name %}
{% block body %}
<main>
  <div class="columns">
    <div class="column">
      <img class="jewel-image" src="http://picsum.photos/id/{{ jewelry.image }}/467/467" alt="{{ jewelry.name }}">
      <span class="column-reference">ref {{ jewelry.formattedreference }}</span>
    </div>
    <div class="column">
      <h1 class="column-title">{{ jewelry.name }}</h1>
      <span class="column-category">{{ jewelry.category }}</span>
      <strong class="column-price">{{ jewelry.formattedPrice }} €</strong>
      <p class="column-description">{{ jewelry.description }}</p>
    </div>
  </div>
</main>
{% endblock %}
