<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jewelry{% endblock %}</title>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path('home') }}" class="{% if active_menu is defined and active_menu == 'home' %}active{% endif %}">home</a>
                <a href="{{ path('jewelry.index') }}" class="{% if active_menu is defined and active_menu == 'jewelry' %}active{% endif %}">jewelry</a>
                <a href="{{ path('rings') }}" class="{% if active_menu is defined and active_menu == 'rings' %}active{% endif %}">Rings</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
        <a href="{{ path('admin.jewelry.index') }}" id="admin"></a>
    </body>
</html>
