<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}jewelry{% endblock %}</title>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path('home') }}">home</a>
                <li><a href="{{ path('men') }}" class="{% if active_menu is defined and active_menu == 'men' %}active{% endif %}">Men</a></li>
                <a href="{{ path('jewelry.index') }}" class="{% if active_menu is defined and active_menu == 'jewelry' %}active{% endif %}">jewelry</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
        {# <a href="{{ path('admin') }}" id="admin"></a> #}
        <a href="#" id="admin"></a>
    </body>
</html>
