{% extends 'base.html.twig' %}
{% block title %}Jewelry{% endblock %}
{% block body %}
<main>
  <h1>Jewelry</h1>
  <div class="jewelry">
    <h1>lastest</h1>
    {% for jewel in lastest %}
    <div class="jewel">
      <h2><a href="{{ path('jewelry.single', { id: jewel.id, slug: jewel.slug }) }}">{{ jewel.name }}</a></h2>
      <strong>{{ jewel.formattedPrice }} €</strong>
    </div>
    {% endfor %}
    <h1>All</h1>
    {% for jewel in all %}
    <div class="jewel">
      <h2><a href="{{ path('jewelry.single', { id: jewel.id, slug: jewel.slug }) }}">{{ jewel.name }}</a></h2>
      <strong>{{ jewel.formattedPrice }} €</strong>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
