{% extends 'base.html.twig' %}
{% block title %}jewelry{% endblock %}
{% block body %}
<h1>jewelry</h1>
<div class="jewelry">
  {% for jewels in jewelry %}
  <div class="jewels">
    <a href="{{ path('jewelry.single', { id: jewels.id, slug: jewels.slug }) }}">{{ jewels.name }}</a>
    <strong>{{ jewels.formattedPrice }} €</strong>
    <span>ref {{ jewels.reference }}</span>
    <p>{{ jewels.description }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
